/* Your CSS Code here. */
.holder{
	display: flex;
	 /* align-items: center; */
	justify-content: center;
	height: 120px; */
	width: 120px;
}


.item-1{
	display: flex;
 /* align-items: center; */
	justify-content: center;
}