/* Your CSS Code here. */
.holder {
    display: flex;
    align-items: center;      
    justify-content: center;
    height: 100vh;           
    width: 100vw;
}

.item-1 {
	height: 100px;
	width: 100px;
	background-color: red;
}
